.sidebar {
    background: #161616;
    color: #222222;
    height: 100vh;
    overflow-y: auto;
}

 .sidebar li {
    list-style-type: none;
}

.Folder-contents.active {
    display: block;
}

.Folder-contents.inactive {
    display: none;
}