.ContentArea {
    width: 80%;
}

.OpenedFiles {
    display: flex;
    overflow-y: auto;
    min-height: 3.5vh;
}

.OpenedFile  {
    display: flex;
    border: 1px solid black;
}

.OpenedFile, .OpenedFile .inactive {
    background-color: #333333;
    color: grey;
}

.OpenedFile, .OpenedFile .active {
    background-color: black;
    color: grey;
}



.crossIcon {
    cursor: pointer;
}

.content-area div{
    padding: 1em;;
}

.content-area .inactive{
    display: none;
}

.content-area .active {
    display: block;
    height:95vh;
}

.EditorFiles {
    display: flex;
}
.EditorFiles .file-panel{
    width: 70%;
}
.EditorFiles .history-panel{
    width: 30%;
    padding: 1em;
    background-color: lightgrey;
}