.ContentArea {
    background-color: #333333;
}

.OpenedFiles  {
    background-color: #161616;
}

.OpenedFile {
    background-color: #161616 ;
}

.OpenedFile, .OpenedFile .inactive {
    color: grey;
}

.OpenedFile, .OpenedFile .active {
    background-color: #333333;
    color: #6FCF97
}

.primary-text {
    color: #6FCF97;
}

.splash-message {
    font-size: 2em;
}


.crossIcon {
    cursor: pointer;
}

.content-area div{
    padding: 1em;;
}

.content-area .inactive{
    display: none;
}

.content-area .active {
    display: block;
    height:95vh;
}

.EditorFiles {
    display: flex;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
}